body, html {
  margin: 0;
  padding: 0;
  background-color: #000;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#stage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vw * (9/16));
  max-height: 100vh;
  width: 100vw;
}

canvas {
  height: 100%;
}
canvas,
img {
  image-rendering: optimizeSpeed;            
  image-rendering: pixelated;
}